@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.title-two {
  font-family: Anton;
  color: #012857;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  transition: 0.5s;
}
.title-two:hover {
  -webkit-text-fill-color: #f6bb42;
}

.title-line {
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  transition: 0.5s;
}

.title-line:hover {
  opacity: 0;
  color: #012857;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.title-line-two {
  font-family: Anton;
  color: #012857;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  transition: 0.5s;
}

.title-line-two:hover {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.pen-tool {
  animation: bounce 5s infinite ease-in-out;
}

.webdesign {
  animation: bounce 6s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
